{{>header}}
<div class="container">
    <div class="jumbotron m-5 text-center animated fadeIn">
        <h1 class="display-4">Universidad de los cursos</h1>
        <p class="lead">Aprovecha los descuentos de nuestros cursos, inscribete a nuestros <a href="/oferta" >cursos</a> y aumenta tus conocimientos con nosotros ! </p>
        <img src="/img/image.jpg" width="700">
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/oferta" role="button">Ver cursos</a>
    </div>

</div>

{{>footer}}


