{{>header}}
<div class="container">

    <div class="alert alert-{{curso.tipo}} m-5" role="alert">
        {{curso.mensaje}}
        <a href="{{ curso.url }}" class="btn btn-primary btn-sm">Volver</a>
    </div>
</div>
</div>

{{>footer}}
